
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
    <link rel="stylesheet" type="text/css" href="/CSS/example.css" />
    <link rel="stylesheet" type="text/css" href="/CSS/home.css" />
    <title>go-tofriend 圍棋大廳</title>
</head>

<body>
    <nav>
        <div class="top">
            <img src= "/images/logo.png" />
            <div class="top-left" id="project"><b>go-tofriend</b></div>
            <div class="top-right">
                <div class="welcome " id="welcome"></div>
                <div class="login-out " id="logout">離開大廳</div>
            </div>
        </div>
        <div class="top-line"></div>
    </nav>
    <div class="gameRoom">
        <!-- <div class="cou>ntry"></div> -->
        <div class="main">
            <div class="room">
                <div class="roominfro">
                    <div class="title-context">
                        <span class="goroom title">棋室</span>
                        <span class="player1 title">棋士</span>
                        <span class="player2 title">棋士</span>
                        <span class="time title">對弈時間</span>
                        <span class="join title"> 觀棋</span>                    
                    </div>
                    <div class="title-context player-context hide">
                        <span class="title">301</span>
                        <span class="title">落日</span>
                        <span class="title">森林</span>
                        <span class="title">15:29</span>
                        <span class="title"> 加入</span>                    
                    </div>

                </div>
                <div class="chat-content"></div>
            </div>
            <div class="chat"></div>
        </div>
        <div class="player">
            <div class="online">線上-</div>
            <div class="askcontainer hide">
                <div class="context">
                    <div class="ask">問要一起下棋嗎</div>
                    <div class ="ans">
                        <span class="answer"><div class="no" id="no">拒絕</div></span>
                        <span class="answer"><div class="yes" id="yes">OK</div></span>
                    </div>
                    
                </div>
            </div>
            <div class ="invite hide" >
                <div class ="invite-ask">邀請這位玩家嗎？</div>
                <div class ="invite-answer">
                    <span class="invite-ans"><div class="no" id="invite-no">下次再說</div></span>
                    <span class="invite-ans"><div class="yes" id="invite-yes">迫不急待</div></span>
                </div>
            </div>
            <div class="players" id="players">
                <!-- <div class="name">MARY</div>
                <div class="name">TOM</div> -->
            </div>
        </div>
    </div>
    <div class="footer" id="footer">
        <div class="footer_text">COPYRIGHT © 2023 go-tofriend.com</div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script  async type="module" src="/JS/home.js"></script>   
</body>
</html>